# Written by Synplify Pro version mapgw2019q1p1, Build 007R. Synopsys Run ID: sid1585538230 
# Top Level Design Parameters 

# Clocks 
create_clock -period 4.609 -waveform {0.000 2.305} -name {_~oserx8_DPHY_TX_TOP__|sclk_0_inferred_clock} [get_pins {u_DPHY_TX_TOP/DPHY_TX_INST/u_oserx8/U3_CLKDIV/CLKOUT}] 
create_clock -period 8.961 -waveform {0.000 4.481} -name {_~idesx8_DPHY_RX_TOP__|clk_byte_out_inferred_clock} [get_pins {u_DPHY_RX_TOP/DPHY_RX_INST/u_idesx8/Inst3_CLKDIV/CLKOUT}] 
create_clock -period 3.646 -waveform {0.000 1.823} -name {_~DPHY_RX_DPHY_RX_TOP__|HS_CLK_inferred_clock} [get_pins {u_DPHY_RX_TOP/DPHY_RX_INST/U0_IB/O}] 

# Virtual Clocks 

# Generated Clocks 

# Paths Between Clocks 

# Multicycle Constraints 

# Point-to-point Delay Constraints 

# False Path Constraints 

# Output Load Constraints 

# Driving Cell Constraints 

# Input Delay Constraints 

# Output Delay Constraints 

# Wire Loads 

# Other Constraints 

# syn_hier Attributes 

# set_case Attributes 

# Clock Delay Constraints 
set Autoconstr_clkgroup_0 [list _~oserx8_DPHY_TX_TOP__|sclk_0_inferred_clock]
set Autoconstr_clkgroup_1 [list _~idesx8_DPHY_RX_TOP__|clk_byte_out_inferred_clock]
set Autoconstr_clkgroup_2 [list _~DPHY_RX_DPHY_RX_TOP__|HS_CLK_inferred_clock]
set_clock_groups -asynchronous -group $Autoconstr_clkgroup_0 -group $Autoconstr_clkgroup_1 -group $Autoconstr_clkgroup_2

# syn_mode Attributes 

# Cells 

# Port DRC Rules 

# Input Transition Constraints 

# Unused constraints (intentionally commented out) 

# Non-forward-annotatable constraints (intentionally commented out) 

# Block Path constraints 

