//
// Written by Synplify Pro 
// Product Version "P-2019.03G-1-Beta1"
// Program "Synplify Pro", Mapper "mapgw2019q1p1, Build 007R"
// Thu Mar 26 10:12:30 2020
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\e:\gowin\gowin_v1.9.3beta_37257_win\synplifypro\lib\generic\gw1n.v "
// file 1 "\e:\gowin\gowin_v1.9.3beta_37257_win\synplifypro\lib\vlog\hypermods.v "
// file 2 "\e:\gowin\gowin_v1.9.3beta_37257_win\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\e:\gowin\gowin_v1.9.3beta_37257_win\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\e:\gowin\gowin_v1.9.3beta_37257_win\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\e:\gowin_work\ip_design\mipi\mipi_release_case\mipi_dphy_reference_design\mipi_refdesign\temp\gao\ao_control\gw_con_parameter.v "
// file 6 "\e:\gowin_work\ip_design\mipi\mipi_release_case\mipi_dphy_reference_design\mipi_refdesign\temp\gao\ao_control\gw_con_top_define.v "
// file 7 "\e:\gowin\gowin_v1.9.3beta_37257_win\ide\data\ipcores\gao\gw_con\gw_con_top.v "
// file 8 "\e:\gowin\gowin_v1.9.3beta_37257_win\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
`pragma protect begin_protected
`pragma protect version=1
`pragma protect author="default"
`pragma protect author_info="default"
`pragma protect encrypt_agent="Synplify encryptP1735.pl"
`pragma protect encrypt_agent_info="Synplify encryptP1735.pl Version 1.1"

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP05_001"
`pragma protect key_method="rsa"
`pragma protect key_block
nGQjNTRggZWOT6sWc6oyraDUFLfWAO/HbLF6wXbCqXPNp9WCDJpv1rHVczOIVgncR/b0+UeSwebZ
OxlPzCeuO1qPl8FPTKiUyycPd+J0aSTr5vl+//g43DlAnrAZWpp+9NwkyX7Tl4KQV38q+/ZFnqAd
fKrxDpwkhDu4v9GmdKTtVryneeZJtk+qfqQLeux8ui4DI7WokBCiLCcnunBZc7zPDJ4RNHhhj/d6
kphLiA+2e7BZhQi3+S17OFvZZeAZqB9QHyWn8tsgCw/p96pTPtatJ/h1TGMYgxgbBmCeWweLMmye
bCwg5pbhghYptD2zVIQFJWuiylXMfypQ3ZpFdA==

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="GoWin"
`pragma protect key_keyname="GoWin2016"
`pragma protect key_method="rsa"
`pragma protect key_block
x5gHfLwQ9h6IkqXYFQsKYOoMTbgAOviKZwc0Vf339pYT772gCzJCT3UDF+YsUsYbK+Pq7BKRT6Uf
HBulNYuf7y+Ku9k8h5gb4vT0dUa4DG8OSdHb7R0AC/h0AeBTlns2hBJ4OSQGxyyNBp2s9HonSdOM
8ZWZFAphVVtPxikUpfU8q9qzyHTb9jMLF3VfqHt1hy3qcsmu5t+UPmv9c2zjTl4NXRMUl5483dXo
fMq4baFS/ju/wiHFuRhteazMg0mM6BfGhtM2aDlFaVzlnFbwItgar6Mu4Fk1u80ynR+wqXfj4ur2
96zU62Pm3UBbG8dYUGOAgfAhYDkhAs6USGbytQ==

`pragma protect data_keyowner="default-ip-vendor"
`pragma protect data_keyname="default-ip-key"
`pragma protect data_method="aes128-cbc"
`pragma protect encoding=(enctype="base64", line_length=76, bytes=7104)
`pragma protect data_block
S64wz9lq30aLaC+kL/X10osfDUSymmrQf6hdQCYuLnmlW6w0Fzin4aO0g/WUobnGsoCOY7+vwaK7
shINCGen4o92p7HrSWBdN+5Baowett5dwKHQqJmKXDf8kRu2EUM6L5usvI7gmjwb0Oqr0AOxGdMA
IEt240OIHMHC5+4DWcK1R5uW4oisAZTZ0NJomTQDaMYTf0vbCXRvBfHpZ4l5DtYYykQ+1wrCdaX8
sSH+7Kja8QmLHvKxnpa8f5JIgVG/ucAiaLjJCwWMxb9Jgg651lo4it+/5Tpuo5y2qsnz4H1JMNUn
Uj2Wb4mlOEYAAuxfOQgISpA8CPBcEc7sbHGRaiqACMoKpmzuzNxNUD8P5cv6ovUqQfJUioqy8RZU
ncsdMPHyh5mNATv+rgnC5o/KV93EFFByE293XvqXEYEjt9+B0tjML3MngPfTex/cJ2bRYI1Y29hm
XTL62PjJKbMzmK9NpFeIkHzsZDbc2u2z/BIavl6tVtDLm+SAcnppavWyK/5wQreqZ2yB53u9z2o8
LprLjQ9sr4VB4syjJwQmDoIF3R2IbM/QcfbvefBq4dq5wIAzfUOIsG7ArZLpKq5bpD2Zb8A9OHiX
uvKXXGCAt2zRRcVLod4NupUa6X2EHnU26zdjJmoMtd40HPn4cS1oNYsj8oDgnMRuf/Usf2EPCPzZ
zBwI1jWvbx/LDqAKeiJy5p6Z3ppYHfexLl4KVFJwvZN/UAIWIEdE4gMnasijR0V/X7zNIff2Z+mg
Vst3itLdrWLhIpU72gmh+FTfXmgP5G0QzeUXu+8N1eSeRol7/A0ii/TmT6olTEgp5qz99PEILD9D
dwbTqx6rbR/vbvZYn5A6MKVaJHf1Cf2AGsVHwSde1kyO3hEKtQ4r9nRWUIdDLZuN0jDbKAOGjSOj
cKQrNjYtn3fCdAE+vAydqBHJo0aNdCmOVR4Q2pRU6nYrm/btQlG2q7hLFtC/KPp2DUkDmxN8r+5B
jtXBUi4kv0tFiBkb0PSxuTRWBbmxgMHvu2TByRH6BUq6yGS45JSdbjpP0iYwguTga9uQlQJseJvN
j15bPLNnu23qzXFj4YABLhVMn3u2NXCFJtuYMqFQMW1J4orX1gR/oDz9x64hSD6+sdyOMqp9gEDe
0WZRRJAd6GzrJiG2fvPM1m81XHvAT/TIg9osTlKtlSzXzVuRYotP/nj+sMrIXuurrsc1pfn7ea2B
ISrslDG0drHlU2Z8sJzhGbASHunb/c6FDO3xa0eSWtFJY0Zhrrea3oMJs//S0utiBr2gbKpvy9fe
8P5r7IOy8zteMADi5GQL4tpxJV7mLmxV5wMl6chKfGEa3EQLt2ewF8lwfO4MxsGevQfwzpyEMxeP
lSwplNFiJcp0Xv6tqh8XEID1y/HeVvvgJ9GqNvQp7IRjtyofC5cnYhdVZgSfZnsxVLMI9XrEy4F7
1kcZlF9qPaqvan0/v2PAvQNTE4Aky7dcvYIlwEPyugt1oVg58aKh2BmQeOJC2BMlk3I2WanCtp91
ZnKNuFzPrfhXXPj2wxHeiSrocPg+CXUwYn6Lh9ZP1CSTIgcTSTO7Je36R0cteVIP6MC0dl3CNe3+
ehIH5ri8Mzq5h7hYZ5xPN5SxlC6R8ztqEmHBI2n4ocW6PoUJ08k73moWX1fffyHI/8+PJXUZQXcy
i/QOTYTMWNe501G7rJyE+LyScYgUc/omd52qfR8yReR2emmNkCCfpMAwNRuD+Obrm6vgnVLD50LC
aja4BCvetXXvPTbxgWKx1O7Rb0rcq//qtTkZP9zmzoslA8sCxkHWScRmmu6PSlJil29H3gdvNnRE
2NPXv72u0lDva5U33a2Jnru37uCEX/uUz0xz/bzqIOf6UaR2Km1sgblMqE3ShRNeQjQIuWnOH1Zn
f9Cq+UJBPgdeVfVLbIWLKT5i336m7o9HlwZplVN7eWrhxkYYoz/R/oozCpwRu0QvpA5o3zE7v52s
WIBoKbw4KO3Z8tCfCgBZ1y2bYb32vB7HINbQx2k5MJ6kxmNJKYPrxeqku7ISrxm9ovUD7ZsXWpZd
oewJ44kZko+tVZFoLxkhKeUKsOVKR4+Ew2XtMNbgOlRdz+jrMobvgMRKr0/AmXYkZCtt953ftRFz
D0IRZcmDDH89fVuKKj107QAqMuHwQrByKg0/PGinO0F9HhIhrhys76y1RNOmtZ1aa1W8/wX1Q6f8
vN7j6FzQOm4zSeGTjB0eFw4I8VtnVnU6X64M+KcatrhMhjU5ksH7weN596vjXsApbnjFkZ+bQIuh
+7lAQkAJTrAiA9vzFZPJ9mrIxf1k4By/+RRZplp4ECFu5Yzf5D0iwm4jqHmbUdke8LPcjZ8rmgav
/hD6yMURUV/NGEJN3DGT9CO9W0MY4ZFVbIQ8oUFlw9qaytzJF3D6GUEFf8n8s7ZLMkjcLCyouKYS
HsYIdM+JJfEhsw/IFdI+vy8rjjuY6JzqFy5/C7kwTjnMCWWFsx+IQy6kIYNJKKqdyH4A0fL+IWgj
Wk5ccaiB8Fc5kP140Yf92n5SPBGntrZ+z0OR9BA44ousRetZ2iPoJubaJpLqJqITXanOwv+GaYE2
xApaKCCpBpXaWka3ltAXvIX+J8y1uDraEF6X/qElfK/QUAlCItZzzxDjuWjKK8V8hcjsHCRIl7YS
wCFkKNjk5B+NtxB7gYGmfUEDxrN3rlhj+9591269ETb6mGGlUG3fk1PLQu4qbXt011X1+Tui3j4j
t+iahFSKekuQP1mvV2eRD4wxiIaUK7ZOTHLdCOSGulU3N+EdCyMizUnXj0ROIu+4/g/topa2fAly
82E39Ai8flzWfclKLaiPeSI6f4JOuMjPs9rZ7bikdDZqVOm3Uq0AX0dQwQoWl/H7e9jWg/fXRLNg
1ha6u/xqwBb2vcrJMgxzW+bfomcC/qDenBNxlMXMtuJAw8xgBt4/6pOD+N02tMcvfNyjrQBlCpEJ
r2XfbqlT7ZB96dE5qtvq7eEbkNCyjNO/psoxV6y9U90VEz0oXTG2cq+eNZSikQICFP8ge4rDenfW
asHDeBLqMvP+bFVDtTZ4sK5dQC7DpHAvdAzD3+nSNyViYnY7ZR4nqcyeBMsW8yV+xQ5xyaZqFNNZ
84llEyWvNtn2+0j8ox5wU+g1Ozg+bivHS/Ov43A9Q8en+4TX9Q7et225rLDi2N8yt2yWrBVrJOkC
sIsxjiPMXSyFziIytWlSTNFOZBecpQJuVdQMxitP+8KDPMr8cwXlAGimCffnTjbS/2AxVF578yj2
zAIiwgVzrTwoKdO5qp5bk/7Qxm0RHiu08lHOHmH6a2epkeywUUp83PnHICHwIh/6l5FWN4D4avbe
8eh1DaA9xSr2w7MEMxGcc+GaU7rYw2YuHDhnPtViskDE+g61yQNpRER6R3C7H3czbroSXZ01PvvO
uTbnB51sRBzatXs2XAfKB2BOtOK0xfKrZb7TuyiKjjZjZRIlbjWE+3OKZwHYrYuIwLXjNfzFww0A
IaM8zPtaPERVSLkWzuli/hREbu9QV3/xinws1KQYARjR4mimZy8hmM/nqWb4OF7Cs/FBMU3CDJ+y
IfRTlBwn6fKr6C3IjBUd5nUDVhCXd9ZD1BDFztCwEWRntDyTI4et1SEkmcgGuMPYIWpR10r4+hkT
oWyg70oE3jADAbMBxP/rEq03S8do2pnaR8L2YK2AaCyEgo+jDZtKD0TxTBhWHJinpeQDLdKMrJFP
FrkZkzXMqfucEeVbtlvDI3H7GLNgJrPmuhq8zKjcCmDW+gPHFrSxtqAvUmkurh/vEiR/SDH771ri
qtIcbxIbuSF77nUUKPLNnW7aBU3c4NSkq6rWH9BixiIPoQII9GizoYmUKJ/X5p7yWotFME1eEQ9j
o1wtUyT09BdG34lvecbVMfIlmYCq3OjDNPuFgte6rnQtlaNBVEIqP2zQQQiA+j2P5e9oN/fIy97n
QFbcPFkh4duzUZNsLrzqlED4xklpzuWfCMTRSzlYWSPYW+HZ8sQ5r0Vtppdw0NRJYGy0S9o2dMRg
MvR3r0AUi6ujiORnjUk1DAqJBF5bFT68UWKMAjhHOx+4Lppz+4/KXQelsdEIKh7R0eI3edF/CXLO
/cxV4ClX4cGi+jKbAjxPkO4phmx2D0jtgQAE7Lvq8xwGVI8D9uuNccq+EqxEYyqkYCxb3PCzcUAG
aCkBvx4CLL6GMxg49LSCdY+8ZBoiNLriEyQ94IDYMTXaHH80Se7FF5ixNjcgfthf9t21lzxPG7gT
QKipnExuDEOc6Gnu6ePN8g2LI8GM2WZ0bHZ/Fo7KJqlUtSDzM/ikrBfjR95uWeVcWQoQ14lN5pY3
80eBTGp8wOpksbiYZVYieL8nfoUzIJcLN33T09lfaxL+ugRLh5JG8POgZ9UvXO09yjUgvV6evL9d
4xxf1yAngW+Cx2oEuIfJks62f2UM7HGk5BH5YWTM29p7rCZLUinUNoRSrBe/drElyHxZ7AcYqghQ
iQ25iPkCc2jkP106ntmjrvDekZjWCiOuq10UHPG3nwIVILyPsSPRXzYBx66DUkqmHr1ftiTWzQ0Q
/dEhxdrOFPd8G0OkI6Ywdy/hodRpGgv0GWsdESUMzKvWHocINNOYJdn+JIEhdNKjhytuhkdn6ITv
l3syCJWMnZMQwG0QkgvVIymbJZGXlOUtBPGnVNoXjH9S0nXKcp8x5aweNtIHWwZAbjk1j90KUITC
TS1F6ojQfJPtQVO5n1oH5Pebnw+oJK/Ut3mJTj9H3NXlFkdeYFlI4PIiJkbRZSDgidznB/2xyEhC
KO31MVeIkWCxG63UMU+me5ljBDt802bdj5Rwp3yZC25JdddSOrw1mZ7Zx4+H6NA5Rrh9gaIqm3OI
wiJRnCC3kcl0BpdTRhAhp5Upex7zY45MWd+AWqE0WZgw07eF4q3+kNvwplt/JNf9gJu/R0GiP/7c
2AxHwKkiFXoYlcekSgYgITKi9gicgO9mzVerDu9IFK5MrMwwJElKmLLXVqQMZh6NRbzMxZb8CJy+
kblhwgtyOZ/0FlgXDYn3ZDYcyU008cXwB9UvCagjfLMYCJta+Uaoi9/9E2Ch7QYKa8sipLfZdNv6
K6MlqPp0bBl72MRwpOjkRdghaxWR7+DKDnjtW5v1XWXGI+5OgH2LYwoWIYHIt+VrycfdGKpbMhTT
BrRk1aeKvFUE5IPn0IZQL6xhKKEmaoz0j1lclKh/j0he/gz1wZ12n9Ke3tyebTHMpDrN5kujVJDl
te1O05n6pu4w7uwPhiU5Im9VVZ5do6I2e1Vk7J3VOrUMfKftmQ3NToLCK3TjcS2ePO7J9F6T5Z9m
tz2M/XX/T8HfGTmjE61f25+3VeYR/OP2JgxVcH5595dyO3AHK7q3tSdZgPwcsk/hOQq8pTivpTkM
4Ye/Iqzd0Rb3XWHa6snNjCOqiTqYYXP2UxYzvrDnf2KS2a9Bg46nEFdA0m8eiXmcbiTGAgqn1JKk
KRhmqOs7G2pGj3wCZBl0R7QChT37/N/oN5YVawhlJbIluaNH/kIv+Q13wbO9Ea/4HP6lURoFUg52
qO3XS79/wOQesMjUgxQVxMMUI1eIlRnhZGs/vuLJF2kmIS9QK1Klvu7jjmOUHlxB7grS9CHB2KAL
Sc9BwZjxp+v316sq8+98qI5nXKErU2vTUod9/IiZ7yNmY5DGqxqkuqfhtX2FzWfksUsl+B30mRrE
+QxYKaclQUGNXoqjm3xMVVBPOt6ZbcTU+pjPcgkIkyAhMlXE9AI7CkdNG+Tsy7FQzUAIWapQPkQY
n0jyM3+PlV0BMBJGdkIDPvO+ybEbmKhbdnQeRTLaQa5hGdnZ6EMU3y6BQaYIc9jhxfZAruYGDijv
5syCVCLQHAzuRWFcid02IX9ihcxvoe5MYiv3IOw5RnTxUT7uR41vmE8xDytgZtyAw9BwX8492dcC
gSo0RgyonfSEf9W9KGAZlnCTSGdl1viwNCFnWcCY0EB+1MOhSrtfMJiFGPCdnNfa9jPwkStwqW8A
iBkB9E/B4zHCgwrnF0GVMvXqZXnbInVHUJUeB7H66d2y7uwLDtmTKheVWBZELgHF4QxxOuOqjw9v
0BHLZAPYJjwNAWhk4DnxXKRWrDmIbvVZi5J9cahi0Z76snKq5VuJXmg3Hvn3iquNkPOslSLmIlYu
7EQLD4yz5nC5knqZBKX2Iasp1JOE+KGHIhRmlhgRz1j0UGI2FxcxXAZBFe7lBCB6DLlALHRjDMA7
kwunzjIfrenajN4X8OjxpIHxgkKyUrhzsDQDCVSwvihs/cxwPPXrcjpwO8pwpWLIoyQ07D74zW7W
4Xtvz9mQDNGNv5t0S6hnNtHD0p89XBYg/jW/dPTemfD4FqVFU7W1lAhKhR7x0iS+I+Mv0RkY70Q8
V+eSpfYz+vApl9vHY/1kDqW6lO6sCawllgMTR4YPY32/kzQfPku429SQFZepGe/VgaWpu7WMlB/7
ggjYuspkN0CXproD6TTH4Aqgow8txDk02Vg2wI+joePmS+oeVhFTxNG+Nrs0It5I5O3Jj5h3Aznk
bSjboXMbf1wdwL7Tt60X0Ami6t0QVrYKCxEVM86Xo8tK1K1JDGwT56vV7mPC2TBuk/FYhFlttdC7
EmwIvsqvSa0ZCuMsGU7OsvdwnEBPl6JC+12fQUojHVNr3NX2ge7fWRySynWwehZviYk3E+8dRnSY
uVxcGJj1gpmBBlVaXI1rrNFpSQyZovEMo6YHtsnSNDBdw1wC5hOSLTDVgO9FFBgDn8qAzZhAUF4s
TlZJ/kDg03ff3kju9td8fqHStgXhe8606NfwYPagCrievfbeN0Omd0IpuoeyfyvjzJRLbfU+0TRp
dffgRTBU2q6CxGeJB9YKJarfPTu8MVd5YQrxBuwU21VLCBdJsTyOskaCgyRKyRtL7gvFDdpPhXBA
vQoyXlsRBi82LFlsh3lYn3uQ3Knfj8paTxKb8IpLeEsB8BrK2qyPd6koRSnNNkZla5dNCnnx+u4B
GfSj27uD0+hbcCl+0gib0q232ueWUI2csgyNNKlmKkI0YYy3zMLSvhYSsuX/9uJFd37HoA6lMwho
SXel3kNXNBT/NKq8UHsh+WCfS/DG7dtgR1gT8qx5fG7jvnkyh9tvI5RrqhVcCiwrHOpNe73zXzH6
yzDtESL/55w3BhjuXcdlB4s/+v46azuJEPFdFuQzQfgg65zQI+NncX7KPynxJ1UWVzCrlOib8XjK
7C11ON1/NWBSpORI8hnITmzSZ1zzeVZxjXBn90jtMZZPpk5gtgsHX8BHRIOUSGa7IfX0K4BGdSW+
2Hhzk4wz6+CUr2bgVLqPfbjmvaauSzZjMHaG5qoVWVnsXo6/qiOrZ7eENmsTlki8wanOs6dgYfj0
vp1H4FGqj+mDcNI63JXSMZaa88DsNabqS2w5ipuYGgGxwfreVwjzJzJRPYqxeehXAkdF5ZBRTcvV
QWkXHgsqRSXyRoznuokAvcHJ+JZf35Cw1S4AvL9bTLk5YT/c6sz4A+H11Gj2YVZ7hJ5Wb3/nn+b9
Sc2VYSORZV6KkZkhysOrUo9xF4NmJqvNMfdiizik+YTUQUYLJC604jflRFcJ0KHEQyevJQbpm9Kt
jmqPArFRgU4oUCejVugs7ej0lJA582IBQWT+TGp9/DY1G1odWVXL+UK7dm3Hup9cQwAgv4/sd4bw
9H4hWowE/BFhR/8i8EnK2+gkGNmEvmqxs6mAJDoj1odVZ2sTtoTAt+M68FTruJpQsUxXeNdSkaeF
TPvrNsjqI63/OAjWnVPvFMts4Ay+DfFyLzf2xOoUZgdBo9tQqleA/Azac+VvEVr3+PdW9MNiaH7h
PQiWyzHUUC3fnsejIk5/xXo/pttJrxh1HI7iS0IdMmkkY8MevfzapSMHIeZFZwaZxlvUVeb0rLbh
scepHjwS/TS+q+/KAgsgPYgI+Ok/feY6hPEnRRI5Wj4dfshbDrK7yFgVIJOgwC9xTmfiqh8gnbaH
TFvy3PdHKIZ4tBR/tGVFV7FKFhVNaSHvtedKfHUMnqZ5WzEGAHdrnNwm3UmK6OzG8R2HE7P3P00F
pPnJppATbWaddStqZWc0l+uigR1XvKoUmPRIO34kwcka17ByPa7TLeb5LY/pYJcTO5ImfVnnRZQF
UDFU9Tusr0m16oDdJLLfRLAFzyx+Hv3EdRfOgbC87mW59a1XQ25jKWCvxEZrd8DTeltX0AFWrxFP
X0l/gfSoHnaGDREhbpBtlUC1DF7yn1vLII9QnUTCSR9xkt95Og/nQjO56Q/cUU2TDDgEmHmOjlJp
9aj3RNmlScim4Gg14ob4xofrLVMBJ/H7HJhzCm9Ptp6jsVu7/dDcgk0zMDMpj9mpVwXo4on5WY78
TcHH23RdU2Ucx4U2RRUB7mJHa6y41xQlt88HUVtW2ysFmRocgOBK8ealkE/DRiIuogBfpZzxZ5Wd
SbwxrghO0HEU5qfQUekWIUbRt7NHpMk0GwtYYkONwvHMUI66ZxMlxBPi+Uj6vnHnACjYI7c9pb4g
2UyR7abHkXDe7SmAuygabZHa894hnw/10HzwRIGA0lV0vDjHjZgf/zuMdADV4Ts0ifnkdfx2sm5Y
3tPumtL9qd+1IsoYbB0bogFkxdxhoMt+gDvewCusRk1fmVcKmAm7LgIzaFnJo3TQB2Ik2iU7BggC
0d5CuKCXPFsxLz77iQ0dbHD/KHB/zGyk1xF3Wdq+Whnok2M0wK9M5nyNr+/eEHPIxG4PykGBOS+T
ezvSwkFw5RPhhhdHWVM9ntOBvcKn9KJxZ3Hw8+ntV1i4ul3Z5U8nFc6TGPaPWZhoQGBsQ+GjJfZO
FXe3pje6w7UOr2CL9NSpa194Ew9wxMnavCrl/2e78AKhITDkJnxklMWaRBFmNb6FHWmYm8eicm9T
/iF8rzYkqF2rna+nf/SZAlPocDJZGrJvZR73D2veuxzEfKqw0vAmXSpgCZvIMVqd1i0+djOc1+1m
bdcsXMG8Hh9hjpNGlnEDgQvpDQlUSBcvD1E1tTv5re1x43pIqQ8cLdTrNWh60b2rdlgfYJDk2nHk
VTeY5uQoMAIEqiLbdpwniBkZeXEsHcg4ogmygwk7SDUxVttHiI0wCfgpE+5CY5kOq6rq+nN+963x
fnZSUlt58fHSfkbEDXtjzqfj1xMdt9vFcjZ7JraFozqSYzjzcJEMSR7DsulKIMTofMx6TYVSTpl1
VdrBT/GM9FtMUfjMKjJKtzKaKx+ogriIE6/7zzS06nSKPqWcwzD1qgqAUDSiupXxHn09RiIybw11
T6LUDnrSK5GbcIHnMlsSjEHgYhgc1/YziRRSrDXabhDgkfsHWF+Ti38hov8C1z8nABB3ULae0pRb
U77cmqAZ0y0zSfp6UAQmQ9DP2L69WerQVaVbLAAo8QK9DFC+9ZPP0C/MvJC8iv6CXEglAdsQLTzW
zAmm1Ahe07fWA5eChI/RwnikMciJqwEL/GY0tJ6sGoeCJQu3
`pragma protect end_protected
