//Copyright (C)2014-2020 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: v1.9.3Beta
//Part Number: GW1N-LV9PG256C6/I5
//Created Time: Mar 23 14:29:41 2020

IO_LOC "clkx2x4" A9;
IO_LOC "hactive_flag" T6;//N14;
IO_LOC "probe[0]" T5;//P12;
IO_LOC "probe[1]" R6;//P11;
IO_LOC "ready" R11;//R16;
IO_LOC "rstn" B3;
IO_LOC "HS_CLK_RX_P" K14;
IO_LOC "HS_DATA0_RX_P" J15;
IO_LOC "HS_DATA1_RX_P" J16;
IO_LOC "HS_DATA2_RX_P" G15;
IO_LOC "HS_DATA3_RX_P" H14;
IO_LOC "HS_CLK_TX_P" L2;
IO_LOC "HS_DATA0_TX_P" M3;
IO_LOC "HS_DATA1_TX_P" R1;
IO_LOC "HS_DATA2_TX_P" T2;
IO_LOC "HS_DATA3_TX_P" T3;

IO_PORT "rstn"  IO_TYPE=LVCMOS12;
IO_PORT "clkx2x4"  IO_TYPE=LVCMOS25;
IO_PORT "hactive_flag"  IO_TYPE=LVCMOS25;
IO_PORT "probe[0]"  IO_TYPE=LVCMOS25;
IO_PORT "probe[1]"  IO_TYPE=LVCMOS25;
IO_PORT "ready"  IO_TYPE=LVCMOS25;


