//
// Written by Synplify Pro 
// Product Version "Q-2020.03G-Beta1"
// Program "Synplify Pro", Mapper "mapgw, Build 1618R"
// Tue May 26 09:44:56 2020
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\e:\gowin\gowin_v1.9.5.02beta\synplifypro\lib\generic\gw2a.v "
// file 1 "\e:\gowin\gowin_v1.9.5.02beta\synplifypro\lib\vlog\hypermods.v "
// file 2 "\e:\gowin\gowin_v1.9.5.02beta\synplifypro\lib\vlog\umr_capim.v "
// file 3 "\e:\gowin\gowin_v1.9.5.02beta\synplifypro\lib\vlog\scemi_objects.v "
// file 4 "\e:\gowin\gowin_v1.9.5.02beta\synplifypro\lib\vlog\scemi_pipes.svh "
// file 5 "\f:\gwip_test\refdesign_sdc\ddr_psram_refdesign\new_ref_design_v1_9_5_02\gowin_ddr3_memory_interface_refdesign\ddr3_mc_phy_1vs2_2a55k\project\temp\gao\ao_control\gw_con_parameter.v "
// file 6 "\f:\gwip_test\refdesign_sdc\ddr_psram_refdesign\new_ref_design_v1_9_5_02\gowin_ddr3_memory_interface_refdesign\ddr3_mc_phy_1vs2_2a55k\project\temp\gao\ao_control\gw_con_top_define.v "
// file 7 "\e:\gowin\gowin_v1.9.5.02beta\ide\data\ipcores\gao\gw_con\gw_con_top.v "
// file 8 "\e:\gowin\gowin_v1.9.5.02beta\synplifypro\lib\nlconst.dat "

`timescale 100 ps/100 ps
`pragma protect begin_protected
`pragma protect version=1
`pragma protect author="default"
`pragma protect author_info="default"
`pragma protect encrypt_agent="Synplify encryptP1735.pl"
`pragma protect encrypt_agent_info="Synplify encryptP1735.pl Version 1.1"

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="Synplicity"
`pragma protect key_keyname="SYNP05_001"
`pragma protect key_method="rsa"
`pragma protect key_block
nGQjNTRggZWOT6sWc6oyraDUFLfWAO/HbLF6wXbCqXPNp9WCDJpv1rHVczOIVgncR/b0+UeSwebZ
OxlPzCeuO1qPl8FPTKiUyycPd+J0aSTr5vl+//g43DlAnrAZWpp+9NwkyX7Tl4KQV38q+/ZFnqAd
fKrxDpwkhDu4v9GmdKTtVryneeZJtk+qfqQLeux8ui4DI7WokBCiLCcnunBZc7zPDJ4RNHhhj/d6
kphLiA+2e7BZhQi3+S17OFvZZeAZqB9QHyWn8tsgCw/p96pTPtatJ/h1TGMYgxgbBmCeWweLMmye
bCwg5pbhghYptD2zVIQFJWuiylXMfypQ3ZpFdA==

`pragma protect encoding=(enctype="base64", line_length=76, bytes=256)
`pragma protect key_keyowner="GoWin"
`pragma protect key_keyname="GoWin2016"
`pragma protect key_method="rsa"
`pragma protect key_block
x5gHfLwQ9h6IkqXYFQsKYOoMTbgAOviKZwc0Vf339pYT772gCzJCT3UDF+YsUsYbK+Pq7BKRT6Uf
HBulNYuf7y+Ku9k8h5gb4vT0dUa4DG8OSdHb7R0AC/h0AeBTlns2hBJ4OSQGxyyNBp2s9HonSdOM
8ZWZFAphVVtPxikUpfU8q9qzyHTb9jMLF3VfqHt1hy3qcsmu5t+UPmv9c2zjTl4NXRMUl5483dXo
fMq4baFS/ju/wiHFuRhteazMg0mM6BfGhtM2aDlFaVzlnFbwItgar6Mu4Fk1u80ynR+wqXfj4ur2
96zU62Pm3UBbG8dYUGOAgfAhYDkhAs6USGbytQ==

`pragma protect data_keyowner="default-ip-vendor"
`pragma protect data_keyname="default-ip-key"
`pragma protect data_method="aes128-cbc"
`pragma protect encoding=(enctype="base64", line_length=76, bytes=7104)
`pragma protect data_block
bHbm8M4o9I3o/LZ6Qfxvvulb8QFxs1VkIzi11TVjvV0FewNSw4catw5WtNyUk7HamThcQyRqr+YN
pBFi8MZQYHezYX3inYaZ6h8JyxeLlojBmH33/e9YOcsTdYR3Zz4b49M/cDCPGlsTVdLKCYcl2g5Y
oIIe46zzx48pW6tIYJ2U45EXloz5ZTLseu5SL5++mRpwsmDEYs5hPkimYCzBMYaw8VcD/Z6aC3Mi
3UIPxDQSB64MZhT/rkCi2UrQTA2ERQ9hAFjlSeykHFO1/MmhJuZLl8K0vP5Z4//9hhxJzu3nCVsE
xEfngxiZs1RrC9ehUO4Z6Gk1KUz80k0O26dO4JGkEMsrxv1idfTvI3VX5NDz1r74PpuBUY+psKGp
1rs1AiYLzrYypOYnul3oJEduI2ZHPmTg5alRWKR7qiIJ1vqWLJl9lclGscoJRY6SE5d61nGha4lx
JnIQORw//8gOVRK164GuD8aSnx5+YjVnTtdBvzLejA9A39JfjX8BDfoVi6xf+LO8bPbXzg4Gog3Z
1lyewhERTYEeh61YoLIGDdMjOMsbxqNX7ThgmHvJQnoDqscKBpNjLGMraqNiP1dzCi+aFJXIZ+xc
3PfEO0C/HqH+QWJ/LMFT9xmRF3D0uCe/hsFK8BC369uXagceLNsSYNjmzS4bUsmmExF2+RIuB9QL
FjbVzegdciZnoUGZSvx+UnVjtN5HJCdZ6XOsnui+MekIMXjPfzQb5k3oiKy2L4g1+OKRs3rL3nG5
yx1MhK9vdWCKUIR9QI7HDrCfgMZvC0L0WYABm6tkYiwCgUAv9zVFHTPFbCPnWF2ummFotfr6nZym
gu5Pp9LUUBshAaZHar46K9OxYnj2N+7zvw2GEGbsS2Rj3mQhCVI6fbovWZornCj4IzCdTXcsFQic
xRfjaHB0l6M28AH4865dJfpL43wMpXMBZBz3K/ikohZ5QhZtIk5F1Qg2o1HtOZqGrQTPcj0Gq9tr
ftJWWWqR+2Hkafur5md/W7jY7fU26+cTOVZH5z2C0Y67PcYiHgogMObrNcSyI2JRko6fEkmG7Nqt
QHbB/Tjoea0CQ+WJdoKKNbvwByZB89TEsKibFFaEk1axrVsQoZ2TKdJ9d4Y2COJVFrUbM+8eCGBW
VpsTxtzWU/X7Rh50h/X4TJhS1IFrTpS3viI+Dfq85iUDgc7E+zUxURUWA3nZNDbdRtU6GtdwRYzW
1z6SyA/RmoU01H7fdygQPKNnbAGXa+zM+IINy2Hl4omvrqz2Tc51bHmJx4+FF1fvsNRIuGWYLcXd
alnWEv6BDwLxeCRq6m5x+P27kC+3eIE78PshHbliD0QktnNjEvrmlLvxoutX9U1YeSCyFa1by15T
rEqbSpLagXhQ5ZIG0579aESOaz2T8E0IULrX0idyGFjIgKMWc3uj1aV4ux3hpQ6UqPD6ZVUaqnt7
3nlgS+IbfCQnVSfV2yvTwSze1XaWUDLnRyC/xCZRdi6nJw6Gdcp+fX9ngyYx4ezQTgW0L8/kos5c
lUhmD3nCyhh+95QGJodCiS24NJtWQ+rQaWX5nyz8gv88561ZcxNUJLu/GvkNbTNaJIlrCbAZX8kD
Fe6q/XYb30m0MhsAhRk819N/NyQUVE7GrZvWZGv+sKJgI+72WNoeHOWcDf+MjmxKMsprk/9Nornm
LLdsA5bqb91kUDQGdwRCTkjuYhkCNDsfrJ1gbxhqW86K9I7ZTmIjN8Qw44LphqvgGCjmwJUw6S+E
s9JKQnzQU4WByr5Tftzl8xDNwPv1rq2E+h6jQCLx7MrYVd83FkguSyKW0xWs1l/0BdNuQfZgshna
pouDbUr9TK9vnxtD4qL18HioAhIKmS1yyUHPql2BJmi3vWPu0zFeQo1XTeME+ebcYEyirzgvh/aE
aTpg9udOQl7Lht5EFgCxx4Vb0gI1tpyedHI+NawxkIfGCa++tp+ZEDLiIou8iZunTHz4wfcxvRhm
S6a9ZpkWy+G6U8IW6AG63Dq4nUr+iwqF+GeWuMVjKUSGgh7y91dUekSfF7n5XmS1TLeRRvPp5obf
+09izZmMkWO/2DxayZS2aDbFsiFObyQFmE+fk9zh6sYR9F46ejNgGdlCpEz4OHj62zbRQocF/fOl
wQDxIFexLJicUbKOWw8UfGEFzIF5RBbcF6sfOqu9gt4Dp5f7PDNLscpPTUj/+84XTkeUKoYz4HPF
nZScwWgRUWhkK2yQDE9dTa02zQecu6w/O7GAPxvh/ANiIpxCtRh6ig7kXIk7p6DMWcBSGgbZRPRM
UdRYoiuqO6u1S0Z1Qdc2xrg3gNVPQGpxHipDXUDqBA3NbQ+fWPM/woA8zbGV2xZ5DgnV4KiYKiN+
7PZsjUVYI6TX7CwKcN8s5RbvsJk3JUiDe2mGqjX7WiuvyXgGMqAGIMcs74Yymo6/VSYMOlHnXfb2
c5bMOH2IJ+6JWyN/1M5w7bkuWEvY0EcJw0x8ODQz8t424Y29NXXZN+v77bULpVyy4pD14gV4KiWv
Ny+FwPfdMXdZo2BFsP4kWJVDc/7StpCa2vKsHyRTYrNzI6wkd1cwlH3SEQngEr6tqG3RlnZSmeSs
apSVQjL3U5IpBZrUTsdDoQGIqlXllnWe+4Tyh6usEqI+nPJEBwM5G8LlIGPQIKCU2EZ1fpsK0bUn
R8tL0lCmEIQvOPHx7TCIxhUXLdPL0khW1cWT8qlKwoCSMEGsvI36inE4X6skltwDT+hklalnoUry
IPdIRW4/Sxnqbe//rqyCsR8eQcsSPJsmodfdj1h6gZ8TrknvG7VWo7KRUoleyqSQ3XR/lh0ahUpC
V5x0ifeIQv0QvEOMyHf31wTxL9MsXuXj3bW03Vpc+sNstVsN5gZuUUbSG1/IcBYwP3cmt2U00flB
uc4/BG8GuhYTImI00SoLfHnE9i8OKIzcEC+8a82A9KAUPo9ggFubX3ZDPgqswN6YVoXN1UMtVVSP
gLkUR4zD+PXWUZrvQA9kHvaMI1uD8iJur/3O705K6hz2V0tmK8C16SStKI+FO8jgMTtNIR+PdvSf
0EtDwqlmht05Bn1PmNATujZd3TMvT8xV7bneeJ5u+3AZansinNh3X5IKVRyze4VvJ1i+4vK0wblV
F0xi8C9DvUUqBgebWByNvp6TWWwF62px8ATCav8HRyfRYztnGSj7yfvDKchby8RYWqmLir3lAE86
BChQMmdU78cYn21h/I3c3T7x4C3+kKccNi/t0h+VG6RKpBM9xDvCEuT/dvS0aRCp/tVdPIKIAxuX
v22MIjXWV1uWE/dWvAF6qM7aUcjb/UOokUupoDPimY4UMX1AUiNugq2EZY2zRKyleKnlznbYI/CY
RSMwuUkRDX69g2Dg6YuoyXbWWeoND77XjN94na2qbx73cB4gpDovuZopzaAq+f5XGMM7gwDAKp5D
pATlaJei6znc7UXqfjP55wel+tGc/viq/agazF4UROzu2znQf7rEH6JWR/Nv2V/L/7TqAhiEvZvW
SGcBIBbOSLp2TKQARL5Mtem5kktl44Xa6US1yC0eMN3Ee1TCeuwlmy67/6VdEN0VAFcb0+iyNt4y
nw84b9NvlZc5i6lkLVo82WMrlp8ibhgm+PF8LWwPmBODeM3Atgk4UuYRPRpoSVXR259mwHqXrNCm
6bEsvZIHT7lSDtRyf7fwVkdc3GYONH61YxVW6qiCNyZ4+QkX7HPGCL0qcFS9+5e1fvyxChAlnVbs
fGkLZ550YZ9deQrRYbogXDR4OSidWHDPyRPbMYjBx1r6Wdps6BE+3rzgGZ8gk82vnsrLcX9bewtG
RBnrAm2FAY22wAZTNO/zRbINSmYMWo23NbgLiZYNw+lX4ATW4svuDgq1DM0+0pHAdFcmO3IuXtfF
QkPc2PbvVdg2bvaKuCrbkVwcrjZjLsSTmZcvIL3cZosAJXyfRva+8QgZ+x6hJhsfX6Aer9AcBWN0
NvKqFHjAwpMCmTuzR+mIzRCay4eknmbRVhdEol6hRiigtCeE4hAjYwsQMwtLih7dKYA6gUv0PPGx
gHwYcCgJmLnH7gvz9VKJPHBr9vjgOsI3FkT1MHgCMhBoJKY8a9foBvT32I8XyCA461zUm6+2+d5e
v9OjxXWnJkLOJo4s4VDxxleptcs6yjXJr7QKO88K87H5855okjjhi5tyOpS8gxfx8KmNXrlZzokK
pH3SUUMRyzLu6nJJQnd/ifuXCWkXL4IR5+Cs1QDC4y33SSwm9oF50iz7qLkTMkwbw7+lmCzWLCb6
2t+LtwLTHXecvgN34v4gG6kAvMLjbk4CPppksIC4nXSaHGVG+R9QnAxUaWAVtS61tl2G/w4hjmvU
2UjRrmuK5w+AC8lpas2cqBVwRIQ7Zx5cg5MFhiQMl45pWOerTRwQzMUoY2fRDRsxmSpAEhBIY+RJ
SCJB/H9Vj7P3hceZ7huidD5AZANYIGKLxtnpos+451q6baBZVK2HcU5w6i9iYhogso/CCNvdvEkK
3pXMavGiTKzTpCUUl06y1lfvOLefljGDPH543E3P3mtkxV+zAe8oYcF34BS8/PzY/sa1w1jxwp82
VQL9pxy0taGw1BkgjziXx3sfGB/l3ISESh6pRG8Y26fYbzJKOLlGsRilwWh1z7ATJaJgTI3AsX7J
flQEc0r1NHbxZzgNfuewwbWkA+Lud0qhrUxVE7Kh2ACYuATZQdviCRCVy3ZGezXYWfG48pDNG5BC
0vHByIsGWr2IJF6b9GwHqwBLsBiQSCFPU4+Xbq4omcSqwmkH1z8Vnd1Rv9Z2XWH/joHBs4+ASaQY
MP48gXFcf2HitT8Oo6CJegs4xwHCRQ15VKyEn8xSuB6nJUUNKbiNnndsT/LL2NDC1h4Kp7ecXEIV
6jmlNy5IKSHzMeGfhAgep0sEeprsIGBDI4qgPheSFW5RErE5u8moLXLKPumUxtAIQF16Yp+0IKbJ
VIKmAO9VahJ8kmghlhHuwxbiJdGAQp6gdGPp3tcSQ5e5P+8qbiUktX2AZqhj2KWIHC6BcElS4UXL
TWq9DIVHQhf/ep09yiHyBRLXYgcWL9ATs/8GVCeME6uBm1PPNsBREzkURYJ/PLD88YI0bVX1QKu0
TLdCSEmmt1VGwaE9QDyW/iIas7zg0MIVK3W4aYEWHiDF8yufHOtB7lYcKGn/SnB+81xbqfTdRjd2
8SGnArPqkE+bMNS2iM4DPiehj13oo2253rL5RI27r5Im6CHy/EwaCgOILA1q8uakDxSDu0O3A6Ca
8zmWlR9pufiaqclYuij893RYeF4+dRZPelSPi8lGtGsknVh6kyHBU5Qbo7td3w7OMvDHX2MJceQM
0qVo/jGayQ90rQ+If62jjLYDVcW8AQHIpQotQpiK9KAnXvXiuttwyJoZixuCjvL/fMEGQUR7NPij
IDhI0VwpCQIqjar3T490GQrT+P3fSxzuoGAfOdGh6yPEQ1ixQPq4wk1LCpuuQLwk794MrJsDblf7
wusLrBc3d87IVCwUf4oESwOcUka7Co7Uf+RmdGstBOYa9T+Ifk6xPYMIDNwDfEft07dD1tB2ylNn
U5JlX/4LpDjuMGqxXCtz/UG5ww7xNf2Jydg4luGraaa2ly7RBeOFqJ2f6t2dSMcFvYYyrrSZL/Ii
GyspdN9nulqBtrOOUW4Gc8waX1gMAVyBE/E4l8pM6201ZiWDP+RmJtg0O+wBnpxzlupHtIn28HdB
8CJ7llxfriijkKicR8e6D+WC0oc3xYVMfGA1LC1ob56coTOdYqyjLdibeHxGs18F2dlmtX5d3oMC
zUcvnCtU6ocwDHiihg3RK6YbMsbYj22Tf1/+VEmz2NiHTb8maYDqGBlIYlflbVcm9YWE+pclpURv
I9ZqEmK6T8fiFsCMSY6ZIDeTBFG8E9GSj5azvIP+gqXmhJ+6yXrYBFjIMcm5TnmCjI0JXycfvoub
1IFN429Z/vGT+mZl/JosBL+kHrHdz4Uu3QrzQ4BNhaEZq2/n5Ytz8zvQLReSalKUBBITm7kT/oUC
hq26tnfpNfgzEUDYdp4sMq+JZhjw8QMFgJ5hw5INsHsO3MIy5tp9jxguxwzRIE5q79p9OJ8GH4Oz
PR7mA6x8aMqeHobQSb5qL32gACnTRGaZuAr84ignqh+K9/3xC8dpJsiXzsREHLSw/vp16lwaFhZ/
fT6ZJyt+I0BxcOZHtnJ7Nl8n5wVhrOrBbxYG/OsAKbOwtky7erQqi82SdBZPCu23zqGMoGscKZac
2ZFI6/K9OSwXSEB1qGfxTAGta8dyHCtGTvq6OcwXgdydCNHvAjq85zCXoCWZUdHFdvkQAhTNqs7B
4D8eZODvXSUS9CgbJRRB0zDlfaqI5QVHjYv/zEGdJK2P5o1MVLxi2J+4hLSwQ+niC5I2vTnfo0w/
6rLMakS5hSCmF278qS5qVRRin1tYg6vq0e9hyhCGWCpNOfL9ki5u6rJ213cnTSrY0RVV0FnaPYcS
7huXiUpjDRLreltZpzh97nLBbRrbuxulHKXzBgT0HFuKgiCu3o3oC2bSAeyLhHHOCPaWE14jbzvB
1TTzkTNl21MoMKClv1W174/xsqYV8Y3SkQi5QfOLY7I8qaF0Jxea1vNfhtoNH4tYiKAGFzvslh3T
mH2VRbcCxI1LNJWhB5tdMGPo3zkVHNLg0n8oF5feDN6CPkGHSgLN5HzqYopEjrgnbODRrm4X4aUb
k/2m+hchm7Mx/lSeb/CfT5vUskDxGxWBfZtpxGpGarDds/SSFyjqlks+xC3Dnp58SJmw2pL1AVTr
ZNKQqe5K71nUoTkO1daiJh7Y6mbexSAU7JUKVX/E+CydyF7uBOKhkSrbLIzKQYGAi12K5lco8Bxv
IbAP0RRqQ0mxNaj0gsWJoFVE/bI/VSdgIEGLNcL4wXtqmt8IBsk44dOB4UjuFqHQNVfB9j7kYpiE
bE5quf+B7KZT8MbgZ9oaxs13xIS3pegmmTKfy/cYfawM1dmcrIXIr3wddvvUkikzBJamEJq74Si1
sNkfF9hdippAQKHHhEju/uLcmvlDJDbTSmr3Dqc8rmvW7M7RMvmWQJtr67d96pcLtqouY8f6Qsfz
U5lsJTlZkcg5fvHqqqq8oBDjd91s2psr8/JYKIJXQMfpjKOhdAtSVicCv2xkJ2IZLMuq7Z6MsN9Q
z82TB/DS1AcV14whgaixAd/TqLX9wJIIsIqqHvCYrNawGKbm38f3qlYHzx7aSJ4/B8f7ujGwa9Ol
iXFRRXQInhjCrH5b2ZWOYOw5VDAR6GQTHKOo0PJyyy9gWpucIDgJg16iQjQLzKsjBjmeUGgbp6mz
6bZ8k92cc/n8H3jjxWbzXwsHJBzkfJbNHxMpPHylwikFIft4BD3wKAF3RkCn1JUSSnbBOqO6nGtn
/M0x6uucimDpIBtkpi9YKSix1YT1mIdUD3nd24rH4eUka6DRTJvxz0zFmSXr621SKMC/cPi0J8C/
Te/4e3eHXMawQElCoSY4ZXOPlsV8cSFuJH1YXvNmA8448RIbg5ajBKLetNvDpbzOB08tKEW3ARcT
HIGY8Vl8WgVWjTtVhowrPWJf0yE7MllO1YgUddZRO2mL6DIXzRR2ltbJkBO2Eo5NOrqf7raA6ltl
4Aq04tlP35j1j14V4Jie+RsqjBLJrwmO82PTsuNSs7CUeIVQ9PIiGOTkPqCz7S71xh5Xe4fcnBKz
652W3ytsjVSUhmNPanOJ97Mn4K0B3KwMFfYGJRRxaLKUWUYNo9O9/re9eQ7VLqXAmW/t8rx5peDk
mJFsj0dQpU1F/IXM28ki52GIIEzwlNHvbPYCGlLuGypXZj4wO8C0YK1YqukZy7b89ByAJwSfR0mv
IJH7/eeJ4d9AprW8hUbh+Qkjaj1FtS/nszW0WN6gjmcQSwGTCD513BEwXQSlDmIAEaV/rdJaTbqx
Cg2GSDL/Hlmk7iAEiZ++ZT3MFaxjD0KT6IjDX6KRDVkOmDKy6b8Iui71IbRP0fNNcjq+n8gmXpLY
8oOQi3KU+dighO9OsKyUK3d8yFxA+DnGyvlrvD0ldgdwoMPSev1uUW8gOhvXsnGJopW//SRKDuva
8tEQ2oijK+DDyoIDEn51UR5Ji8F2zyNNAZhv0Da1Gc8jEbU147wImql0wZW/9WSmkJBnZE9w48P7
dbutg4XJigtpfaxudXUmIb9Bo+VXwvJMYxxngGo+xBTBC7SVFvI8rSRRL57/r5xDJhnwIIivCKsZ
0uu297ZfYLxjIGrkviajJIrFIuE34SqDlLepqUG8IeJg9k4ZsoVUeLXhTjMJx5XgsZBiZ0GTmcoR
0/0gmCEASouvj2Gu/dIfHp7KzjOSPUNItUiqAV0A5MjfLJ/36xvPRaB/ngaSGqblncLEApa4+HXA
/SUKLzKssJgzen/eYEeyElutvb+5wDO9q+kheoL/fkw2B7W9ec9XLJoG/rRKHMM3nd0EiTxUPUKq
HQRZmk1y49vbOZNt4RJkDdYjTkV0LQQ5N5PP6QISGJzwYeb9LBCfznVVciCutI65sUgFzZhcgHLk
52E7wE3+TmByUP6K4oBff0kUIA6E2ITNkx7Qv1QJ4GsvuP4Yk6xP2DBlWNWqQze8lhoRUlrVsrz/
tUtH/GBa1oGPvb2SzlrgaI7tB1OpurvD6vy/KnItajkH1mMjr26g1SDfAqRGUUsipj3H54kXdF46
qjp1KgGJoJHN17W1KSotzx3phZ4uGddZVQ3j5CD2GIHG9AYY2TTEvSNG6ezz5/MpSXCLTjc28TRh
i/pH8l8hswnFkM7+PNiP/hkKMtrA6oAcVhPdOQt7GZoMoJ0iL9KzeD4YJITKvv4CI/6QQ85rTIbp
WhOSFu7NLzSemZSwNV9ZEfmlXiEDEt6C8fb6qRBTzE1w0HiTCZUpAmDCS5ralb9ZXpIStccseSgW
JN8W0LGIXHiC+ZeXBuPeUI45sqfpXZEJYvkGxaLfRBEx++OSxDSmOTP/349bXHji7BWXJuSnrqhT
/lvQqY5i5lJb1miLUTZqXBi0zUvMPbheOBULWlCkRAgd+qRUv7v6ZaD4bVrpXCVpQ+S1cKIGq671
KUinN3pwh/cxCuDkgU7RhNvjPI83V/5u5hjSpJ7NHNEGyDDeq9OeClw7TMDPAPG8zMLiJUqd1aDv
RphQcLE39wGCptugys8lCMb7i79z5LbfvhN7QbgAiwZnGxW4wOWnVDrLtQjZmJXp8Wnp3Zs0/4p9
V4V3gVSWL/CcQ4MO2OqmfwAHw3K6WLIr5tJVmGKvO/W0qyPI7IEfeuwMCuRdglaTqZ2fDMcrRDfk
xj3A5n/qDRwdvpEKfaYYer/HUuNqXKBaNnKdZP6/XsBwvETIpgE1ENHbjQunr87g+pMCHygvWWpO
z9zTFfJ3TldtbGOL+BO3LAode3bhx8o2F2PVtRW907eQ0JBL0pbaX0BQ2beyML0QctakmRewFT0V
iBzlCY6RJGMNFzubscbc1Z/b4lu36Zi1mAeftbbeiqQ205U/
`pragma protect end_protected
